body {
  font-family: Arial, sans-serif;
}

#gallery {
  float: left;
  width: 200px;
  height: 600px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

#circleContainer {
  width: 600px;
  height: 600px;
  position: relative;
  
}

svg {
  width: 100%;
  height: 100%;
}

circle {
  fill: none !important;
  stroke: #000 !important;
  stroke-width: 2px !important;
}

.foreignObject {
  pointer-events: all;
}
